# Python Virtual Environment
venv/
__pycache__/
*.pyc
.env

# Spark & Java Caches
.ivy2/
metastore_db/
derby.log
spark-warehouse/

# Airflow & Docker Local Data
logs/
airflow/
postgres-data/
.pytest_cache/

# Mac OS junk
.DS_Store

# Terraform Data
.terraform/
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info